
.intro {
    background: url(https://thumbs.gfycat.com/ImmenseAnxiousIceblueredtopzebra-size_restricted.gif) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffffffb7;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#bootstrap {
    background: #ffffffb7;
    color: #000000;
    border: 0;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease;
}
#bootstrap:hover {
    background: #000000;
    color: #3700ff;
    cursor: pointer;
    border-radius: 60%;
    border: 2px solid #3700ff;
}
#tailwind {
    background: #ffffffb7;
    color: #000000;
    border: 0;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease;
}

#tailwind:hover {
    background: #000000;
    color: #0077ff;
    cursor: pointer;
    border: 2px solid #0077ff;
    
}
#select:hover {
    color: #1cda16;
    cursor: default;
    background-image: url(https://thumbs.gfycat.com/NeedyMassiveBlueshark-size_restricted.gif);
}
#title:hover {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Computer-screen-code-glitch-animation-gif-background-free.gif/1280px-Computer-screen-code-glitch-animation-gif-background-free.gif);
    cursor: default;
}
span::before {
    content: "aayush";
    animation: ani 30s infinite;
}

@keyframes ani {
    0% {
        content: "a";
    }
    1% {
        content: "aa";
    }
    2% {
        content: "aay";
    }
    3% {
        content: "aayu";
    }
    4% {
        content: "aayus";
    }
    5% {
        content: "aayush";
    }
    6% {
        content: "aayush.";
    }
    7% {
        content: "aayush..";
    }
    8% {
        content: "aayush...";
    }
    9% {
        content: "aayush..";
    }
    10% {
        content: "aayush.";
    }
    11% {
        content: "aayush";
    }
    12% {
        content: "aayus";
    }
    14% {
        content: "aayu";
    }
    16% {
        content: "aay";
    }
    18% {
        content: "aa";
    }
    20% {
        content: "a";
    }
    22% {
        content: "p";
    }
    24% {
        content: "pr";
    }
    26% {
        content: "pro";
    }
    28% {
        content: "prog";
    }
    30% {
        content: "progr";
    }
    32% {
        content: "progra";
    }
    34% {
        content: "program";
    }
    36% {
        content: "programm";
    }
    38% {
        content: "programme";
    }
    40% {
        content: "programmer";
    }
    44% {
        content: "programme";
    }
    46% {
        content: "programm";
    }
    48% {
        content: "program";
    }
    50% {
        content: "progra";
    }
    52% {
        content: "progr";
    }
    54% {
        content: "prog";
    }
    56% {
        content: "pro";
    }
    58% {
        content: "pr";
    }
    60% {
        content: "p";
    }
    62% {
        content: "h";
    }
    64% {
        content: "ha";
    }
    66% {
        content: "hac";
    }
    68% {
        content: "hack";
    }
    70% {
        content: "hacke";
    }
    72% {
        content: "hacker";
    }
    76% {
        content: "hacke";
    }
    78% {
        content: "hack";
    }
    80% {
        content: "hac";
    }
    82% {
        content: "ha";
    }
    84% {
        content: "h";
    }
    86% {
        content: "a";
    }
    88% {
        content: "aa";
    }
    90% {
        content: "aay";
    }
    92% {
        content: "aayu";
    }
    94% {
        content: "aayus";
    }
    96% {
        content: "aayush";
    }
    98% {
        content: "aayush.";
    }
    100% {
        content: "aayush..";
    }
}
span::after {
    content: "|";
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

